<div class="homepage-wrapper">
    <div class="title-section">
        <div class="title-wrapper">
            <hr>
            <h1 class="title-text">Success Navigators Inc.</h1>
            <hr>
        </div>
        <!--This is the welcome page of your website. 
            Add your business name with a call to action 
            to your services/products or contact page. 
            Provide a brief description of why your 
            customers should choose you.-->
    </div>

    <div class="navigation-buttons">
        <div class="nav-wrapper">
            <a class="btn btn-primary homepage-btn" [routerLink]="['/about']" role="button"><i>About Us</i></a>
            <a class="btn btn-primary homepage-btn" [routerLink]="['/products']" role="button"><i>Services</i></a>
            <a class="btn btn-primary homepage-btn" [routerLink]="['/contact']" role="button"><i>Contact</i></a>
        </div>
    </div>

    <div class="intro-section">
        <div class="img-wrapper">
            <img class="description-img" src="../../assets/contact1.jpg" alt="Success Navigators Inc.">

            <div class="call-to-action">
                <a class="btn homepage-btn call-to-action-btn" [routerLink]="['/products']" role="button"><i>Want to know about services ? <br> Take a look at our Services section !</i></a>
            </div>

        </div>

        <div class="description-text">
            <!-- <h1 class="cursive-header"><b>Developmet</b></h1> -->
            <!-- <h2 class="info-text">/ˌɔr ɪˈgɑ mi/ <i>noun.</i></h2> -->
            <h3 class="info-text"><i>At Success Navigators Inc., we understand that in today's dynamic business landscape,
                technology is not just a tool but a catalyst for growth and transformation. As a emerging IT consulting firm,
                we specialize in delivering tailored solutions that empower businesses to navigate the digital realm with confidence.</i></h3>

            <hr>
            <br>
            <br>

            <img class="description-img-sm" src="../../assets/contact1.jpg" alt="Success Navigators Inc.">
            <div class="call-to-action-sm">
                <a class="btn homepage-btn call-to-action-btn" [routerLink]="['/products']" role="button"><i>Want to know about services ? <br> Take a look at our Services section !</i></a>
            </div>

            <h3 class="info-text">Join the Success Navigators Inc. Community:</h3>

            <h3 class="info-text">A Become a part of a thriving community of businesses that have harnessed the power of technology with 
                Success Navigators Inc. Whether you are a small startup or a large enterprise, 
                we have the expertise and passion to elevate your digital journey.
            </h3>
          
        </div>
    </div>

    <div class="footer">
        <p class="footer-text">Copyright © 2023 Success Navigators Inc. - All rights reserved. </p>
    </div>
</div>