<nav class="nav-success">
    <div class="nav-img">
        <img (click)="routeToHome()" class="img-adjust" src="../../assets/success_navs1.png" />
        
        <div class="nav-wrapper">
            <a [ngClass]="{'text-click' : isHome}" (click)="addBoldClass('home')" class="homepage-btn text-hover"   [routerLink]="['/']" role="button"> <i>Home</i></a>
            
            
            <a   [ngClass]="{'text-click' : isAbout}" (click)="addBoldClass('about')"  class=" homepage-btn text-hover" [routerLink]="['/about']" role="button"><i>About Us</i></a>
            <a [ngClass]="{'text-click' : isService}" (click)="addBoldClass('service')" class=" homepage-btn text-hover" [routerLink]="['/products']" role="button"><i>Services</i></a>
            
            <a [ngClass]="{'text-click' : isContact}" (click)="addBoldClass('contact')" class="homepage-btn text-hover" [routerLink]="['/contact']" role="button"><i>Contact Us</i></a>
            
            <a class=" homepage-btn" role="button"><i></i></a>
            <a class=" homepage-btn" role="button"><i></i></a>
            <a class=" homepage-btn" role="button"><i></i></a>
            <a class=" homepage-btn" role="button"><i></i></a>
            <a [ngClass]="{'text-click' : isLogin}" (click)="addBoldClass('login')" class=" homepage-btn text-hover" role="button"><fa-icon [icon]="faSignIn" style="padding-right: 7px;"></fa-icon><i>Login</i></a>
        </div>
    </div>
</nav>


<div class="homepage-wrapper">

    <div class="intro-section">
        <div class="img-wrapper">
            <img class="description-img" src="../../assets/contact1.jpg" alt="Success Navigators Inc.">

            <div class="call-to-action">
                <a class="btn homepage-btn call-to-action-btn" [routerLink]="['/products']" role="button"><i>Want to know about services ? <br> Take a look at our Services section !</i></a>
            </div>

        </div>

        <div class="description-text">
            <!-- <h1 class="cursive-header"><b>Developmet</b></h1> -->
            <!-- <h2 class="info-text">/ˌɔr ɪˈgɑ mi/ <i>noun.</i></h2> -->
            <h3 class="info-text"><i>At Success Navigators Inc., we understand that in today's dynamic business landscape,
                technology is not just a tool but a catalyst for growth and transformation. As a emerging IT consulting firm,
                we specialize in delivering tailored solutions that empower businesses to navigate the digital realm with confidence.</i></h3>

            <hr>
            <br>
            <br>

            <img class="description-img-sm" src="../../assets/contact1.jpg" alt="Success Navigators Inc.">
            <div class="call-to-action-sm">
                <a class="btn homepage-btn call-to-action-btn" [routerLink]="['/products']" role="button"><i>Want to know about services ? <br> Take a look at our Services section !</i></a>
            </div>

            <h3 class="info-text">Join the Success Navigators Inc. Community:</h3>

            <h3 class="info-text">A Become a part of a thriving community of businesses that have harnessed the power of technology with 
                Success Navigators Inc. Whether you are a small startup or a large enterprise, 
                we have the expertise and passion to elevate your digital journey.
            </h3>
          
        </div>
    </div>

    <div class="footer-home">
        <p class="footer-text">Copyright © 2023 Success Navigators Inc. - All rights reserved. </p>
    </div>
</div>