<nav class="nav-success">
    <div class="nav-img">
        <img (click)="routeToHome()" class="img-adjust" src="../../assets/success_navs1.png" />
        
        <div class="nav-wrapper">
            <a [ngClass]="{'text-click' : isHome}" (click)="addBoldClass('home')" class="homepage-btn text-hover"   [routerLink]="['/']" role="button"> <i>Home</i></a>
            
            
            <a   [ngClass]="{'text-click' : isAbout}" (click)="addBoldClass('about')"  class=" homepage-btn text-hover" [routerLink]="['/about']" role="button"><i>About Us</i></a>
            <a [ngClass]="{'text-click' : isService}" (click)="addBoldClass('service')" class=" homepage-btn text-hover" [routerLink]="['/products']" role="button"><i>Services</i></a>
            
            <a [ngClass]="{'text-click' : isContact}" (click)="addBoldClass('contact')" class="homepage-btn text-hover" [routerLink]="['/contact']" role="button"><i>Contact Us</i></a>
            
            <a class=" homepage-btn" role="button"><i></i></a>
            <a class=" homepage-btn" role="button"><i></i></a>
            <a class=" homepage-btn" role="button"><i></i></a>
            <a class=" homepage-btn" role="button"><i></i></a>
            <a [ngClass]="{'text-click' : isLogin}" (click)="addBoldClass('login')" class=" homepage-btn text-hover" role="button"><fa-icon [icon]="faSignIn" style="padding-right: 7px;"></fa-icon><i>Login</i></a>
        </div>
    </div>
</nav>


<div class="productpage-wrapper">
    <!-- <div class="title-section">
        <div class="title-wrapper">
            <hr>
            <h1 class="title-text">Success Navigators Inc.</h1>
            <hr>
        </div>
       
    </div> -->

    <!-- <div class="navigation-buttons">
        <div class="nav-wrapper">
            <a class="btn btn-primary homepage-btn" [routerLink]="['/about']" role="button"><i>About Us</i></a>
            <a class="btn btn-primary homepage-btn" [routerLink]="['/']" role="button"><i>Home</i></a>
            <a class="btn btn-primary homepage-btn" [routerLink]="['/contact']" role="button"><i>Contact</i></a>
        </div>
    </div> -->

    <div class="section-title">
        <h3 class="cursive-subtitle">Services</h3>
        
        <h3 class="info-text">IT consulting firms offer a wide range of services to help businesses effectively leverage technology to achieve their goals and stay competitive in the digital landscape. Here are some common services provided by IT consultancy firms</h3>
    </div>

    <div class="items">
        <div class="card">
            <div class="product">
                <img class="product-img" src="../../assets/planning.jpg"
                    alt="Original Pegasus Origami Sculpture Angled View">

                <div class="product-body">
                    <h2 class="product-title">Strategic IT Planning</h2>
                    <!-- <h3 class="product-description product-text">A sculpture of a mythical pegasus using 12" scrapbook paper.</h3> -->
                    <h3 class="product-text">Collaborative development of IT strategies aligned with business goals.
                        Roadmap creation for digital transformation.</h3>

                </div>
            </div>
        </div>

        <div class="card">
            <div class="product">
                <img class="product-img" src="../../assets/erpcrm.png"
                    alt="Original Dragon Origami Sculpture Side Right-Facing View">

                <div class="product-body">
                    <h2 class="product-title">Implementation of enterprise systems (e.g., ERP, CRM).</h2>
                    <!-- <h3 class="product-description product-text">A rather complex fold of an ancient dragon, created with 36" square Kraft paper.</h3> -->
                    <h3 class="product-text">Integration of new technologies with existing infrastructure.
                        Deployment and management of cloud solutions.</h3>

                </div>
            </div>
        </div>

        <div class="card">
            <div class="product">
                <img class="product-img" src="../../assets/security.png"
                    alt="Original Crab Origami Sculpture Side Left-Facing View">

                <div class="product-body">
                    <h2 class="product-title">Cybersecurity Services</h2>
                    <!-- <h3 class="product-description product-text">A tracing paper sculpture of a sea crab.</h3> -->
                    <h3 class="product-text">Risk assessments and vulnerability analysis.
                        Implementation of security measures and protocols.
                        Incident response and management.</h3>

                </div>
            </div>
        </div>



        <div class="card">
            <div class="product">
                <img class="product-img" src="../../assets/bussiness.jpg"
                    alt="Original Cicada Origami Sculpture Side Right-Facing View">

                <div class="product-body">
                    <h2 class="product-title">Data Analytics and Business Intelligence</h2>
                    <!-- <h3 class="product-description product-text">A tracing paper fold of a cicada.</h3> -->
                    <h3 class="product-text">Implementation of data analytics tools.
                        Development of business intelligence solutions.Data visualization and reporting.</h3>

                </div>
            </div>
        </div>

        <div class="card">
            <div class="product">
                <img class="product-img" src="../../assets/it services.jpg"
                    alt="Original Crane Origami Sculpture Angled View">

                <div class="product-body">
                    <h2 class="product-title">Managed IT Services</h2>
                    <!-- <h3 class="product-description product-text">A simple fold of a holographic crane, made out of 12" decorated cardstock.</h3> -->
                    <h3 class="product-text">IT infrastructure management.
                        Network monitoring and maintenance.
                        Helpdesk support and end-user assistance.</h3>

                </div>
            </div>
        </div>

        <div class="card">
            <div class="product">
                <img class="product-img" src="../../assets/project.png" alt="Original Ant Origami Sculpture Angled View">

                <div class="product-body">
                    <h2 class="product-title">IT Project Management</h2>
                    <!-- <h3 class="product-description product-text">A tracing paper fold of a gardener ant.</h3> -->
                    <h3 class="product-text">Planning and execution of IT projects.
                        Resource allocation and timeline management.
                        Project risk assessment and mitigation.</h3>

                </div>
            </div>
        </div>

        <div class="card">
            <div class="product">
                <img class="product-img" src="../../assets/digital-transformation.jpg"
                    alt="Original Dragonfly Origami Sculpture Angled Back View">

                <div class="product-body">
                    <h2 class="product-title">Digital Transformation</h2>
                    <!-- <h3 class="product-description product-text">A tracing paper sculpture of a common dragonfly.</h3> -->
                    <h3 class="product-text">Assessment of current processes and identification of areas for improvement.
                        Implementation of technologies to enhance efficiency and innovation.
                        Change management to support organizational transformation.</h3>

                </div>
            </div>
        </div>

        <div class="card">
            <div class="product">
                <img class="product-img" src="../../assets/Software-Development.jpg"
                    alt="Original Grasshopper Origami Sculpture Side Left-Facing View">

                <div class="product-body">
                    <h2 class="product-title">Software Development</h2>
                    <!-- <h3 class="product-description product-text">A sculpture of a grasshopper, created with 12" patterned scrapbook paper.</h3> -->
                    <h3 class="product-text">Custom software development.
                        Application modernization.
                        Mobile app development.</h3>

                </div>
            </div>
        </div>

        <div class="card">
            <div class="product">
                <img class="product-img" src="../../assets/kt.png"
                    alt="Original Giraffe Origami Sculpture Side Left-Facing View">

                <div class="product-body">
                    <h2 class="product-title">Training and Knowledge Transfer</h2>
                    <!-- <h3 class="product-description product-text">An extra-small fold of a giraffe, using 3" tracing paper.</h3> -->
                    <h3 class="product-text">Employee training on new technologies and systems.
                        Knowledge transfer to internal teams.</h3>

                </div>
            </div>
        </div>

    </div>

    <div class="footer">
        <p class="footer-text">Copyright © 2023 Success Navigators Inc. - All rights reserved. </p>
    </div>
</div>