<div class="contactpage-wrapper">
    <div class="title-section">
        <div class="title-wrapper">
            <hr>
            <h1 class="title-text">Success Navigators Inc.</h1>
            <hr>
        </div>
    </div>

    <div class="navigation-buttons">
        <div class="nav-wrapper">
            <a class="btn btn-primary homepage-btn" [routerLink]="['/about']" role="button"><i>About Us</i></a>
            <a class="btn btn-primary homepage-btn" [routerLink]="['/']" role="button"><i>Home</i></a>
            <a class="btn btn-primary homepage-btn" [routerLink]="['/products']" role="button"><i>Services</i></a>
        </div>
    </div>

    <div class="contact-info">
        <h3 class="cursive-subtitle">Contact Us</h3>
        <hr>
        <h3 class="info-text">Thank you for considering Success Navigators Inc. as your strategic IT partner. We're here to answer your questions, provide information, and discuss how our innovative solutions can benefit your business. Connect with us through the following channels:</h3>
        <br>
        <h3 class="contact-text">Office Address:</h3>
        <h3 class="contact-text"><i>Success Navigators Inc.</i></h3>
        <h3 class="contact-text">3343, Peachtree Rd NE Ste 145-2895</h3>
		<h3 class="contact-text">Atlanta, GA 30326</h3>
		 <h3 class="contact-text">Phone - +1 (404) 493-5307 </h3>
        <h3 class="contact-text">Email Address - ksingh@successnavs.com</h3>
		<h3 class="contact-text">Business Hours - Mondays through Fridays, 9:00AM - 6:00PM EST</h3>

    </div>

    <div class="footer">
        <p class="footer-text">Copyright © 2023 Success Navigators Inc. - All rights reserved. </p>
    </div>
</div>